<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <div id="top-bar">
        <h1>Tracker Home</h1>
        <a href="/tracker/new"><button class="btn btn-primary">Add Task</button></a>
      </div>
      <% if (tasks.length === 0){ %>
          <p>There's nothing here...</p>
      <% } %>
      <% for ( let i = 0; i < tasks.length; i++){ %>
        <a href="/tracker/<%=tasks[i].id%>" class="task-link">
          <div class="task<% if (tasks[i].status){%>-complete<%}%>">
            <div class="task-ball<% if (tasks[i].status){%>-complete<%}%>"></div>
            <div class="list-flex">
              <div class="task-title"><%= tasks[i].name %></div>
              <div class="task-note"><%=tasks[i].notes%></div>
            </div>
          </div>
        </a>
      <% } %>
    </div>
    <nav>
      <ul id="nav-list">
        <li class="nav-item"><a href="/tracker"><span class="nav-link-text">Tracker</span></a></li>
        <li class="nav-item"><a href="/share"><span class="nav-link-text">Share</span></a></li>
        <li class="nav-item"><a href="/help"><span class="nav-link-text">Lost & Found</span></a></li>
      </ul>
    </nav>
  </body>
</html>
