body {
  color:white;
  background-color:#2E3138;
  height:100vh;
  width:100%;
  padding: 2vmin 0;

}

.container-fluid {
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 1000px;
  padding-bottom:100px;
}

#top-bar, #button-bar {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width:100%;
  margin-bottom:3vmin;
}

#top-bar > *, #button-bar > *, #button-bar > * > * {
  margin:0;
}

#button-bar {
    margin-top:3vmin;
    max-width:400px;
}

#map-button-bar {
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin:0;
  padding:0;
}

ul {
  margin:0;
  padding:0;
  width:100%;
}

nav {
  position:fixed;
  bottom:0;
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  align-items: center;
  width:100%;
  background-color:#3b3e45;
}

#nav-list {
  margin:0;
  padding:0;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width:100%;
  max-width: 1000px;
}

.nav-item {
  display:inline-block;
  text-align:center;
  width:100%;
  height:100%;
  margin:0;
  border-top:1px solid rgba(255,255,255,.2);
  border-left:1px solid rgba(255,255,255,.2);
  border-right:1px solid rgba(255,255,255,.2);
}

.nav-item-flex {
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  flex:1 1 100%;
  width:100%;
  height:100%;
  margin:0;
  padding:5px;
  border-top:1px solid rgba(255,255,255,.2);
  border-left:1px solid rgba(255,255,255,.2);
  border-right:1px solid rgba(255,255,255,.2);
}

/* Found this here: https://stackoverflow.com/questions/1121748/how-to-make-the-html-link-activated-by-clicking-on-the-li */
.nav-item > a {
  display:flex;
  flex:column nowrap;
  justify-content: center;
  align-items: center;
  padding:0;
  color:white;
  text-decoration:none;
  font-weight:bold;
  font-size:16px;
  margin:0;
  cursor:pointer;
  width:100%;
  height:5em;
}

.nav-link-text {
  padding: 0 5px;
}

.task-link {
  width:100%;
  text-decoration:none;
  color:white;
}

.task-link:hover, .task:hover, .task-complete:hover {
  color:whitesmoke;
  text-shadow:1px 1px rgb(100,100,100);
}


.task, .task-complete {
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap:1em;
  width:100%;
  margin:5px 0;
  padding:10px;
  border-radius:5px;
}

.task {
  box-shadow:3px 3px 1px white;
}

.task-complete {
  background-color:rgba(255,255,255,.1);
  box-shadow:1px 1px 1px white;
}

.task-ball, .task-ball-complete {
  min-width:1em;
  width:1em;
  height:1em;
  border:2px solid white;
  border-radius:50%;
}

.task-ball-complete {
  background-color:rgba(249,199,132,1)
}

.list-flex {
  float:right;
  display:flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  align-items: baseline;
  font-weight:bold;
  min-width:0;
}
/* Found this at https://www.w3docs.com/snippets/css/how-to-limit-the-text-length-to-one-line-with-css.html#:~:text=If%20you%20want%20to%20limit,be%20signalled%20to%20the%20user. */
.task-note {
  display:inline-block;
  min-width:0;
  max-width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
  font-weight:200;
}

input {
  margin:10px;
}

#button-form {
  margin:0;
}

#radio-select{
  margin:10px;
}

#radio-select label {
  margin: 10px 10px 10px 30px;
}

#radio-select div {
  display:inline-block;
}

#title {
  width: 80vw;
  max-width:1000px;
}

textarea {
  width:80vw;
  height:5em;
  max-width:1000px;
  margin:10px;
}

/* Share Styling */
#card-container {
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items:center;
  width:100%;
  margin:auto;
}

#card-container img {
  min-width:0;
  width:88vw;
  max-width:900px;
  margin:0 auto;
  border:1px solid black;
}

a {
  text-decoration: none;
}

#card-container a {
  flex:1 1;
  width:calc( 88vw + 2px );
  max-width:900px;
  color:white;
  font-weight:bold;
  text-align: center;
  text-shadow:1px 1px #60463B, -1px 1px #60463B, 1px -1px #60463B, -1px -1px #60463B;
}

.card {

  box-shadow:
}

.lost{
  background-color:#856A5D;
}

.found {
  background-color:#F9C784;
}

figcaption {
  text-align:left;
  padding: 10px;
}

#map-link {
  position:fixed;
  color:white;
  right:10px;
  bottom:100px;
    text-shadow:1px 1px #60463B, -1px 1px #60463B, 1px -1px #60463B, -1px -1px #60463B;
}

#map {
  height:calc( 100% - 2em - 3vmin );
  width:100%;
  color:black;
}

.pop-up-title {
  text-align:center;
}

.pop-up-img {
  min-width:0px;
  width:100%;
}

.pop-up-button {
  display:block;
  margin:10px auto;
}

.lf-post-content, .share-content {
  align-self: flex-start;
}

.comment-container {
  width:100%;

  border:1px solid black;
  border-radius:5px;
}

.timestamp {
  display:inline-block;
  margin:0;
}

.single-button-form {
  display:inline-block;
}

.comment-container #button-form {
  font-size:.75em;
  padding:.25em .5em;
}

.comment-info {
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  width:100%;
  background-color:rgba(0,0,0,0.2);
  padding:5px;
}

.comment-text {
  margin-top:5px;
  margin-left:5px;

}
