body {
  color:white;
  background-color:#2E3138;
  height:100vh;
  width:100%;
  padding: 2vmin 0;

}

.container-fluid {
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 1000px;
  padding-bottom:100px;
}

#top-bar, #button-bar {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width:100%;
  margin-bottom:3vmin;
}

#top-bar > * {
  margin:0;
}

#button-bar {
    margin-top:3vmin;
    max-width:400px;
}

ul {
  margin:0;
  padding:0;
  width:100%;
}

nav {
  position:fixed;
  bottom:0;
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  align-items: center;
  width:100%;
  background-color:#3b3e45;
}

#nav-list {
  margin:0;
  padding:0;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width:100%;
  max-width: 1000px;
}

.nav-item {
  display:inline-block;
  text-align:center;
  width:100%;
  height:100%;
  max-height:88px;
  margin:0;
  border-top:1px solid rgba(255,255,255,.2);
  border-left:1px solid rgba(255,255,255,.2);
  border-right:1px solid rgba(255,255,255,.2);
}
/* Found this here: https://stackoverflow.com/questions/1121748/how-to-make-the-html-link-activated-by-clicking-on-the-li */
.nav-item > a {
  color:white;
  text-decoration:none;
  font-weight:bold;
  font-size:12px;
  margin:0;
  padding:2em;
  display:block;
  cursor:pointer;
  width:100%;
  height:100%
  border:1px solid blue;
}

.task-link {
  text-decoration:none;
  color:white;
}

.task-link:hover {
  color:whitesmoke;
  text-shadow:1px 1px rgb(100,100,100);
}

.task {
  list-style: inside circle;
  margin:5px 0;
  padding:5px;
  box-shadow:3px 3px 1px white;
  border-radius:5px;
}

.task-complete {
  list-style: inside disc;
  background-color:rgba(255,255,255,.1);
  margin:5px 0;
  padding:5px;
  box-shadow:1px 1px 1px white;
  border-radius:5px;
}

.list-flex {
  float:right;
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  font-weight:bold;
  min-width:0;
  width:90%;
}
/* Found this at https://www.w3docs.com/snippets/css/how-to-limit-the-text-length-to-one-line-with-css.html#:~:text=If%20you%20want%20to%20limit,be%20signalled%20to%20the%20user. */
.task-note {
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
  font-weight:200;
}

input {
  margin:10px;
}

#button-form {
  margin:0;
}

#radio-select{
  margin:10px;
}

#radio-select label {
  margin: 10px 10px 10px 30px;
}

#title {
  width: 80vw;
  max-width:1000px;
}

textarea {
  width:80vw;
  height:5em;
  max-width:1000px;
  margin:10px;
}

/* Share Styling */
#card-container {
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items:center;
  width:100%;
  margin:auto;
}

#card-container img {
  min-width:0;
  width:88vw;
  max-width:900px;
}

.lost{
  background-color:#856A5D;
}

.found {
  background-color:#F9C784;
}

#map-link {
  position:absolute;
  right:10px;
  bottom:100px;
}

#map {
  height:calc( 100% - 2em - 3vmin );
  width:100%;
  color:black;
}
