<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Create a New Share</h1>
      <form action="/share" method="POST" enctype="multipart/form-data">
        <input type="text" id="title" name="title" placeholder="Title" required><br/>
        <textarea name="content" placeholder="What would you like to share?"></textarea>
        <label for="img">Want to share an image?</label>
        <input type="file" class="form-control" name="img" value="">
        <div id="button-bar">
          <a href="/share" class="btn btn-secondary">Cancel</a>
          <input type="submit" class="btn btn-success" value="Share">
        </div>
      </form>
    </div>
  </body>
</html>
