<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <h1>Map View</h1>
    <div id="map"></div>
    <!-- All Maps stuff comes from google's docs or this video: https://www.youtube.com/watch?v=Zxf1mnP5zcw&t=744s -->
    <script>
      var map;
      function initMap(){
        map = new google.maps.Map(document.getElementById('map'),
        {
          zoom: 12,
          center: {lat:29.7604, lng:-95.3698}
        });
        var marker = new google.maps.Marker({
          position: {lat:29.7794844512672,lng:-95.41349265301973},
          map: map
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCebAaDlrHdqEjMeUEnFJ8sCjsSp5ORNVk&callback=initMap" async defer></script>
  </body>
</html>
